.friend-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

header {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
header button {
  margin-top: 15px;

  background-color: #48d9f3; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.1s; /* Smooth transition */
}
button {
  margin-top: 15px;

  background-color: #48d9f3; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.1s; /* Smooth transition */
}
#main-body {
  font: inherit;
  font-size: 0.85rem;
  background-color: #282f33;
  border: none;
  border-bottom-color: #48d9f3;
  color: #e0eff1;
  border-radius: 4px 4px 0 0;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.friends-list {
  display: flex;
  flex-direction: column;
}
